<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- <bean id="baseballCoach" class="com.test.spring.BaseballCoach"/> -->
	<bean id="trackCoach" class="com.test.spring.TrackCoach"/>
	
	
	<bean id="baseballCoach" class="com.test.spring.constructorinjection.BaseballCoach">
		<constructor-arg ref="fortune" />		<!-- inject the dependency "fortune" -->
	</bean>
	<bean id="fortune" class="com.test.spring.constructorinjection.FortuneService" />
	
</beans>